# Игнорирование временных файлов редактора
*.swp
*.swo

# macOS system files
**/.DS_Store

# Игнорирование логов и временных файлов
*.log
*.tmp
*.pid

# Игнорирование кэша Python
__pycache__/
**/.ipynb_checkpoints/
.idea/
*.pyc

# Игнорирование виртуальных окружений
env/
venv/

.venv_*/
.env_*/

# Игнорирование сборочных файлов
build/
dist/

# Игнорирование конфигурационных файлов
config/secrets.yaml
!config/defaults.yaml  # Но не игнорировать defaults.yaml

# Игнорирование IDE-файлов
.idea/
.vscode/
